{% include 'client/components/header.html' %}
<!-- Main Content Section -->
<section class="hero d-flex justify-content-center align-items-center text-center">
    <div class="container text-white">
        <div class="glass-effect p-5 rounded-4 shadow-lg">
            <h1 class="fw-bold display-3">Welcome to Dashboard :   {{username}}</h1>
            <p class="lead">A sleek and modern interface for the best user experience.</p>
            {% if not user_authenticated %}
                <div class="cta mt-4">
                    <a href="/profile" class="btn btn-lg btn-primary px-4 py-2 shadow-sm">View Profile</a>
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% include 'client/components/footer.html' %}