{% include 'client/components/header.html' %}

<div class="d-flex justify-content-center align-items-center vh-100" style="background:no-repeat center center/cover; position: relative;">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7 col-sm-9">
                <!-- Glassmorphism Card -->
                <div class="card shadow-lg glass-effect">
                    <div class="card-header text-center text-white bg-primary">
                        <h2>Change Password</h2>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <label for="password" class="fw-bold">Password:</label>
                                <input type="password" id="password" name="password" class="form-control" required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="confirm_password" class="fw-bold">Confirm Password:</label>
                                <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
                            </div>
                            
                            <button type="submit" class="btn btn-primary btn-lg w-100 mt-3">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'client/components/footer.html' %}
